@import "../../mixins.scss";

.asset-loader {
    @include keyframes(asset-loader) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    @include animation(asset-loader 0.3s normal ease-in-out);

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));
    }
}