@import "../../mixins.scss";

.progress-spinner {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    @include user-select(none);

    .radial-progress {
        &-label {
            color: #303c6c;
            font-weight: bold;

            .logo {
                &-image {
                    img {
                        @include mobile {
                            width: 46px!important;
                            height: 46px!important;
                        }

                        @include pc {
                            width: 69px!important;
                            height: 69px!important;
                        }

                        @include transform(translateY(1px));
                    }
                }
            }
        }
    }
}